body{
    margin: 0;
    padding: 0;
    background-color:#DEF2FD;
    font-family: arial
}
#banner{
	margin: 0 ;
	padding: 0;
	background-color:#eefbff;
}
#top {
	width: 800px;
	margin: 0 auto;
	padding: 0;
	height:161px;
}

#topPic{
	margin-left:144px;
	width: 405px;
	float:left;
}

.bold_title{
    text-align: center;
    margin: 10px;
    /* width: 300px; */
    /* height: 30px; */
    font-family: times;
    font-size: 41px;
	line-height: 75px;
	color:black;
	font-weight:bold
}
.bold_title_h2{
    text-align: center;
    margin: 10px;
    /* width: 300px; */
    /* height: 30px; */
    font-family: times;
    font-size: 22px;
	color:black;
	
}
.normal_text{
    font-family: monospace;
	text-align: center-left;
	width:1200px;
	font-size :18px;
	line-height: 28px;
    margin: auto;
    /* width: 300px; */
    /* height: 30px; */
}
.container {
	margin:auto;
	width: 1200px;
	height: 30px;
	background-color: #ddd;
	border-radius: 9px;
}
.skills {
	line-height: 30px;
	color: black;
	border-radius: 9x;
	text-align: center;
	width: 61.8%;
	background-color: #4CAF50;
}
.box{
    margin:0 10%;
    height: 630px;
    overflow: hidden;
    padding: 10px 0 40px 60px
}

.box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top:0
}

.box ul:last-of-type{top:80px}

.box ul:before{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px dashed #fff;
    position: absolute;
    top:0;
    left:30px
}

.box ul li{
    margin: 20px 60px 60px;
    position: relative;
    padding: 10px 20px;
    background:rgba(95,174,227,1.000);
    border-radius: 10px;
    line-height: 20px;
    width: 100%
}


.box ul li > span{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px solid #fff;
    position: absolute;
    top:0;
    left:-30px
}

.box ul li > span:before,.box ul li > span:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#CCCCCC;
    border:2px solid #fff;
    position: absolute;
    left:-7.5px
}

.box ul li > span:before{top:-10px}
.box ul li > span:after{top:95%}

.box .title{
	font-size : 22px;
    font-weight: 700;
    margin-bottom: 14px;
}

.box .info:first-letter{
	line-height: 14px;
}

.box .name{
    margin-top: 22px;
    font-weight: bold;
	font-family:times;
    text-align: center;
}


.box .time span{
    position: absolute;
    left: -100px;
	font-family:"times";
    font-size:95%;
	text-align: right;
    font-weight: bold;
}
.box .time span:first-child{
top:-16px
}
.box .time span:last-child{
top:94%
}



